<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
</head>
<body>
    <section class="navigation-bar">
        <header>
            <div class="profile">
                <div class="avatar"></div>
                <div class="username">suryan saathi</div>
            </div>
            <nav class="nav-buttons">
                <ul type="none">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Solar Datas</a></li>
                    <li><a href="#">Sun Datas</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <iframe src="/home" frameborder="0" class="page1"></iframe>
            <iframe src="/Solarcalc" frameborder="0" class="page2"></iframe>
            <iframe src="/procument" frameborder="0" class="page3"></iframe>
            <iframe src="/solardatas" frameborder="0" class="page4"></iframe>
            <iframe src="/sundatas" frameborder="0" class="page5"></iframe>
            <!-- <iframe src="/Contact.html" frameborder="0" class="page6"></iframe> -->
            <iframe src="/Graph" frameborder="0" class="page6" style="height: 700px; width: 1200px;"></iframe>
        </main>
    </section>
</body>
</html>
